@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;
}
.header-container{
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
}
/* navbar part start  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    color: rgb(19, 19, 19);
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    margin-right: 30px;
}
.navbar ul li a{
    color: rgb(66, 66, 66);
}
/* navbar part ends */
/* Hero section start */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.banner-content h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-content p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    margin-top: 53px;
}
.image-container{
    width: 100%;
}
/* Hero section ends */

/* our Futures start */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
}

.Futures{
    display: flex;
    align-items: center;
    gap: 80px;
   
}
.image-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-futures-text h1{
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.our-futures-text p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
.our-futures-text h1 .quick-list{
    color: rgb(114, 114, 114);
}
.our-futures-text h1 .of our{
    color: rgb(19, 19, 19);
}
.our-futures-text h1 .Futures{
    color: rgb(255, 144, 14);
}
/* our Futures ends */

/* features you will part start */
.Futures-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
    }
#futures-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 18px;
}
.images-futures img{
    width: 100%;
}
.futures-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.futures h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    
}
.futures p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 21px;
}
.bg-contain{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding:30px;
    margin-top: 24px;
}
.bg-contain h4{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
.bg-contain p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
} 
.btn{
    color: #ffff;
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    position: relative;
    margin-top:-200px;
    margin-left: -100px;
    margin-bottom: 30px;
} 
.btn h1{
    font-size: 30px;
    font-weight: 800;
}
.btn h5{
    font-size: 20px;
}
/* features you will part ends */

/* card-section start */
.some-contain{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
}
.some-contain h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
}
.some-contain p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 22px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 80px;
}
.card{
    margin-left: 50px;
    border: 1px solid rgb(255, 144, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
}
.card h3{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
}
.card h4{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
/* card-section ends */
.our-eponspos{
    margin-top: 150px;
    text-align: center;
}
.our-eponspos h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.our-eponspos p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
}
.img-container{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: rgb(0, 0, 0);
    gap: 100px;
    
}
.img-container img{

    filter: grayscale(100%);
}
/* footer part start */
footer{
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgb(255, 244, 231);
    padding: 30px;
    margin-top: 150px;
    text-align: center;
}
footer h5{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* footer part ends */

/* Responsive part media queries for mobile device */
@media only screen and (max-width: 576px){
    .header-container{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .navbar ul li{
        margin: 18px;
    }

    /* main part start */
   main{
    width: 100%;
   }
   .Futures{
    flex-direction: column;
   }
   .image-contain{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
   }
   .image-contain{
    text-align: center;
   }
   .our-futures-text{
    text-align: center;
   }
   .btn-primary{
    margin-bottom: 20px;
   }
   /* futures part start */
   .Futures-container{
    width: 100%;
   }
   .futures-part{
    grid-template-columns: repeat(1, 1fr);
   }
   .btn{
    margin-left: 40px;
    margin-top: 20px;
   }
   .futures{
    text-align: center;
   }
   .futures h1{
    font-size: 35px;
   }
   #futures-title{
    padding-left:0px;
   }
   .some-contain{
    width: 100%;
    text-align: center;
   }
   .card-container{
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
   }
   .card{
    margin-left:0;

   }
   .img-container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    
   }
   .img-container img{
    margin-left: 70px;
   }
   .our-eponspos{
    margin-top: 60px;
   }
   footer{
    width: 100%;
   }
}
/* Responsive part media queries for mobile device */
@media only screen and (min-width: 576px) and (max-width:992px){
    main{
        width: 100%;
    }
    .Futures{
        flex-direction: column;
       }
    .our-futures-text{
        text-align: center;
      
        }
    .btn-primary{
            margin-bottom: 20px;
           }
    .image-contain{
        gap: 10px;
    }
    .Futures-container{
        width: 100%;
       }
    .futures-part{
        grid-template-columns: repeat(1, 1fr);
       }
    .futures{
        text-align: center;
       }
       #futures-title{
        padding-left:0px;
       }
       .btn{
        margin-left: 40px;
        margin-top: 20px;
       }
       .image-contain{
        text-align: center;
       }
       .some-contain{
        width: 100%;
        text-align: center;
       }
       .card-container{
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        gap: 20px;
       }
       .img-container{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        padding-left: 20px;
        
       }
       .our-eponspos{
        margin-top: 60px;
       }
       footer{
        width: 100%;
       }
}   