@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;
}
.header-container{
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
}
/* navbar part start  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    color: rgb(19, 19, 19);
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    margin-right: 30px;
}
.navbar ul li a{
    color: rgb(66, 66, 66);
}
/* navbar part ends */
/* Hero section start */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.banner-content h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-content p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    margin-top: 53px;
}
.image-container{
    width: 100%;
}
/* Hero section ends */

/* our Futures start */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
}

.Futures{
    display: flex;
    align-items: center;
    gap: 80px;
   
}
.image-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-futures-text h1{
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.our-futures-text p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
.our-futures-text h1 .quick-list{
    color: rgb(114, 114, 114);
}
.our-futures-text h1 .of our{
    color: rgb(19, 19, 19);
}
.our-futures-text h1 .Futures{
    color: rgb(255, 144, 14);
}
/* our Futures ends */

/* Responsive part media queries for mobile device */
@media only screen and (max-width: 576px){
    .header-container{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .navbar ul li{
        margin: 18px;
    }

    /* main part start */
   main{
    width: 100%;
   }
   .Futures{
    flex-direction: column;
   }
   .image-contain{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
   }
   .image-contain{
    text-align: center;
   }
   .our-futures-text{
    text-align: center;
   }
   .btn-primary{
    margin-bottom: 20px;
   }
}
/* Responsive part media queries for mobile device */
@media only screen and (min-width: 576px) and (max-width:992px){
    main{
        width: 100%;
    }
    .Futures{
        flex-direction: column;
       }
    .our-futures-text{
        text-align: center;
      
        }
    .btn-primary{
            margin-bottom: 20px;
           }
    .image-contain{
        gap: 10px;
    }
}